*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color:#333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    font-size: 2rem;
}

input, button{
    font-size: 2rem;
    padding:1rem;
    border-radius: 10px;
}

.expense-item {
    background-color: #fff;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}